#wrapper{
    width: 100%;
    padding-left: 100px;
}
#left-panel{
    position: fixed;
    min-width: 100px;
    width: 100px;
    z-index: 1;
    overflow: hidden;
}
#left-panel.expanded{
    width: 50%;
}
header, footer, #menu-button{
    display: none;
}
nav li{
    width: 50vw;
    height: 70px;
    line-height: 70px;
    padding-left: 0px;
    overflow: hidden;
    position: relative;
}
span.menuicon{
    position: absolute;
    width: 100px;
    height: 70px;
    line-height: 70px !important;
    font-size: 30px !important;
    margin: 0;
    background: inherit;
    z-index: 2;
}
span.text{
    font-size: 35px;
    width: calc(50vw - 100px);
    z-index: 1;
}

.project{
    width: calc(100% - 20px);
    height: auto;
}
.project:hover .links{
    margin:0;
}
.project img{
    width: 100%;
    height: auto;
}
.project .title{
    font-size: 30px;
    height: 50px;
    line-height: 50px;
}
.links, .links *{
    height: 100px;
    line-height: 100px !important;
    font-size: 30px !important;
}
