@import "variables.less";
@import "mixins.less";

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
*{
	/*cursor:default;*/
	/*font-family: 'Open Sans', sans-serif*/
}

html, body {
    width: 100%;
    height: 100%;
 	/*font-family: 'Open Sans', sans-serif*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

a{
	color: rgba(255,255,255,.8) !important;
	text-transform: uppercase;
	text-align: center;
	transition-duration:0.2s;
}

header{
	position: relative;
	min-height: auto;
	height: 100vh;
	width: 100%;
	background: #64b3b3;
	padding-top: 150px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url(../images/computer.jpg);
	color: #fff;
	.container{
		width: 100%
	}
}

nav.navbar.top-nav{
	background: transparent;
	border:none;
	border-bottom:1px solid rgba(255,255,255,.3);
	transition: background 0.2s ease-in;
	&.fixed{
		background: #2bb381;
		border:none;
		a.navbar-brand{
			color:#fff !important;
			background-color: transparent !important;
		}
	}
	.container{
		width: 100%;
	}
	.navbar-header{
		.navbar-toggle{
			color: rgba(255,255,255,.5);
			border-color: rgba(255,255,255,.5);
			width: 40px;
			height: 40px;
			text-align: center;
			background-color: transparent;
		}
	}
	a.navbar-brand{
		color: rgba(255,255,255,.5);
	}
	li{
		a{
			color: rgba(255,255,255,.8) !important;
			text-transform: uppercase;
			text-align: center;
			transition-duration:0.2s;
			&:hover{
				color:#fff !important;
				background-color: transparent !important;
			}
		}
		&.active{
			color:#fff !important;
			background-color: transparent !important;
			a{
				color:#fff !important;
				background-color: transparent !important;	
			}
		}
	}
}
section{
	padding-top: 50px;
}

.skill-img{
	filter: grayscale(100%);
	margin: 10px auto;
	float: none;
	width: 60px;
	height: 60px;
	margin-top:10px;
}
.portfolio-item{
	padding: 15px;
	position: relative;
	margin:auto;
	.portfolio-item-content{
		max-width: 400px;
		width: 100%;
		height: 100%;
		margin: auto;
		position: relative;
		.caption{
			.centerHV;
			width: 100%;
			height: 100%;
			background: rgba(43,179,129,0.8);
			opacity:0;
			visibility: hidden;
			transition-duration: 0.2s;
			&:hover{
				opacity: 1;
				visibility: visible;
			}
			.caption-content{
				width: 100%;
				height: 100%;
				color: #fff;
				text-align: center;
				font-size: 25px;
			}
		}
		img.portfolio-img{
			border: 1px solid rgba(0,0,0,0.3);
			width: 100%;
			margin: auto;
			&:hover + .caption{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

footer{
	background: #223d54;;
	color: #fff;
	.footer-above{
		height: 300px;
		
	}
	.footer-below{
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		height: 50px;
		line-height: 50px;

	}
}