@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.centerHV {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerH {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.centerV {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
* {
  font-family: 'Open Sans', sans-serif;
}
[class*=" devicon-"],
[class^=devicon-] {
  font-size: 50px;
}
html,
body {
  width: 100%;
  float: left;
  height: 100%;
  background: #4d4d4d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
a {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: center;
  transition-duration: 0.2s;
}
header {
  position: relative;
  min-height: auto;
  height: 100vh;
  width: 100%;
  background: #64b3b3;
  padding-top: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url(../images/computer.jpg);
  color: #fff;
}
header .container {
  width: 100%;
}
section {
  padding-top: 50px;
}
.skill-div {
  margin: 10px auto;
}
#portfolio .projects-list {
  text-align: center;
}
#portfolio .projects-list i {
  margin: 0 auto;
  float: none;
}
#portfolio .projects-list .project {
  border-bottom: 1px solid #1b1b1b;
  margin: 0px;
  text-align: left;
  padding: 10px 0px 0px 0px;
}
#portfolio .projects-list .project:last-child {
  border-bottom: none;
}
#portfolio .projects-list .project .name {
  font-size: 20px;
}
#portfolio .projects-list .project .name a {
  color: #09c;
  text-transform: none;
}
#portfolio .projects-list .project .description {
  color: #595959;
  padding-top: 10px;
  padding-bottom: 10px;
}
#portfolio .projects-list .project .stars {
  font-size: 14px;
  color: #595959;
}
#portfolio .projects-list .project .langs {
  width: 100%;
  height: 10px;
}
#portfolio .projects-list .project .langs .lang {
  height: 10px;
  line-height: 10px;
  color: #000;
  float: left;
}
footer {
  background: #223d54;
  color: #fff;
}
footer .footer-above {
  padding: 20px 0px;
}
footer .footer-above a.circle {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  background: #fff;
  display: inline-block;
}
footer .footer-above a.circle i {
  font-size: 25px;
  color: #223d54;
  width: inherit;
  height: inherit;
  line-height: inherit;
}
footer .footer-above a.circle:hover {
  background: rgba(0, 0, 0, 0.5);
}
footer .footer-above a.circle:hover i {
  color: white;
}
footer .footer-below {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 50px;
  line-height: 50px;
}
/*# sourceMappingURL=style.css.map */