@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*{
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	font-family: 'Open Sans', sans-serif
}
html, body{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    position: relative;
}
#left-panel{
    width: 250px;
    float: left;
    height: 100vh;
    background: rgb(44, 44, 44);
    position: relative;
}
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    float: left;
    color: #fff;
    text-align: center;
}
nav{
    width: 100%;
    height: auto;
    line-height: 30px;
    float: left;
}
li{
    width: 100%;
    height: 30px;
    line-height: inherit;
    float: left;
    color: #fff;
    list-style: none;
    box-sizing: border-box;
    transition-duration: 0.2s;
    padding-left: 10px;
    cursor: pointer;
}
li.current{
    background: rgba(0,0,0,0.4)
}
li:hover{
    background: rgba(0, 0, 0, 0.3);
}
span.menuicon{
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    margin: auto 5px;
}
#wrapper{
    width: calc(100% - 250px);
    height: 100vh;
    float: left;
    text-align: center;
    margin: 0px;
    background: #f5f5f5;
    overflow: auto;
}
section{
    width: 100%;
    float: left;
}
.project{
    height: 200px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}
.title{
    margin: -30px 0 0 0;
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    color: #eee;
    background: #222222;
    font-size: 1.4em;
    transition-duration: 0.2s;
    position: absolute;
}
.project:hover .title{
    margin: 0;
}
.project:hover .link{
    left: 0;
}
.project:hover .gh-link{
    right: 0;
}
.project img{
    float: left;
    width: 300px;
    height: 200px;
}
.project a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.project a:hover{
    color: #ccc;
}
.link, .gh-link{
    width: 125px;
    height: 170px;
    position: absolute;
    top:30px;
    transition-duration: 0.2s;
    background: rgba(22, 22, 22, 0.5);
    line-height: 170px !important;
    font-size: 2em !important;
    color: #fff;
}
.link{
    left: -175px;
}
.gh-link{
    right: -175px;
}
.link::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 170px solid rgba(22, 22, 22, 0.5);
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    right: -50px;
}
.gh-link::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 170px solid rgba(22, 22, 22, 0.5);
    border-left: 50px solid transparent;
    left: -50px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    /*float: left;*/
    color: #eee;
    background: #222222;
    text-align: center;
}
footer a{
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    font-size: 20px !important;
    margin: auto 5px;
    border-radius: 100%;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
    background: rgb(44, 44, 44);
    transition-duration: 0.2s;
}
footer a:hover{
    background: #eee;
    color: rgb(44, 44, 44)
}
