@import "variables.less";
@import "mixins.less";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #efefef;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-direction: column;
  position: relative;

  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .image {
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translate(-50%, 0);
      .radius(100%);
      overflow: hidden;
      width: 150px;
      height: 150px;
      border: 1px solid #cdcdcd;

      img {
        width: 150px;
        height: 150px;
      }
    }

    .social {
      margin-top: 130px;
      display: flex;
      flex-direction: row;

      .social-box {
        width: 25%;
        height: 50px;
        border: solid #cdcdcd;
        border-width: 1px 0 1px 1px;
        display: flex;

        &:last-child {
          border-width: 1px;
        }

        a {
          flex: 1;
          text-align: center;
          align-items: center;
          display: flex;
          justify-content: center;

          &:hover {
            background: #ffffff;
          }
        }
      }
    }
  }

  .accordion {
    display: flex;
    flex-direction: column;
    width: 100%;

    .accordion-element {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;

      .label {
        background: #fcfcfc;
        line-height: 30px;
        padding: 2px 4px;
        font-size: 20px;

        &.active + .content {
          max-height: 10000px;
        }
      }

      .content {
        max-height: 0;
        height: auto;
        width: 100%;
        //overflow: hidden;
        transition: max-height .5s ease-in-out;

        .repo {
          margin: 7px 8px;
          padding: 3px;
          width: ~"calc(100% - 16px)";
          background: #eaeaea;
          border: 1px solid #d4d4d4;
          .radius(4px);
          height: auto;
          display: flex;
          flex-direction: column;

          .row {
            display: flex;
            width: 100%;
            justify-content: space-between;

            a {
              font-size: 15px;
            }

            .additional {
              flex: 0 0 50%;
              justify-content: flex-end;
              display: flex;

              .stats {
                margin-left: 5px;

                &.disabled {
                  color: #717171;
                }
              }
            }
            .description{
              color: #505050;
              font-size: 12px;

            }
          }
        }
      }
    }
  }
}
