@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: #efefef;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.container .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .info-container .image {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid #cdcdcd;
}

.container .info-container .image img {
    width: 150px;
    height: 150px;
}

.container .info-container .social {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
}

.container .info-container .social .social-box {
    width: 25%;
    height: 50px;
    border: solid #cdcdcd;
    border-width: 1px 0 1px 1px;
    display: flex;
}

.container .info-container .social .social-box:last-child {
    border-width: 1px;
}

.container .info-container .social .social-box a {
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container .info-container .social .social-box a:hover {
    background: #ffffff;
}

.container .accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .accordion .accordion-element {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .accordion .accordion-element .label {
    background: #fcfcfc;
    line-height: 30px;
    padding: 2px 4px;
    font-size: 20px;
}

.container .accordion .accordion-element .label.active + .content {
    max-height: 10000px;
}

.container .accordion .accordion-element .content {
    max-height: 0;
    height: auto;
    width: 100%;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.container .accordion .accordion-element .content .repo {
    margin: 7px 8px;
    padding: 3px;
    width: calc(100% - 16px);
    background: #eaeaea;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container .accordion .accordion-element .content .repo .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container .accordion .accordion-element .content .repo .row a {
    font-size: 15px;
}

.container .accordion .accordion-element .content .repo .row .additional {
    flex: 0 0 50%;
    justify-content: flex-end;
    display: flex;
}

.container .accordion .accordion-element .content .repo .row .additional .stats {
    margin-left: 5px;
}

.container .accordion .accordion-element .content .repo .row .additional .stats.disabled {
    color: #717171;
}

.container .accordion .accordion-element .content .repo .row .description {
    color: #505050;
    font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
