@import "variables.less";
@import "mixins.less";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    font-family: 'Open Sans', sans-serif;
}
[class*=" devicon-"], [class^=devicon-]{
    font-size: 50px;
}
html, body {
    width: 100%;
    float: left;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

a{
    color: rgba(255,255,255,.8) !important;
    text-transform: uppercase;
    text-align: center;
    transition-duration:0.2s;
}

header{
    position: relative;
    min-height: auto;
    height: 100vh;
    width: 100%;
    background: #64b3b3;
    padding-top: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../images/computer.jpg);
    color: #fff;
    .container{
        width: 100%;
    }
}

nav.navbar.top-nav{
    background: rgba(0,0,0,.2);
    border:none;
    border-bottom:1px solid rgba(0,0,0,.3);
    transition: background 0.2s ease-in;
    &.fixed{
        background: white;
        a.navbar-brand{
            color:#000 !important;
            background-color: transparent !important;
        }
        li{
                border-bottom: 2px solid transparent;
            a{
                color: rgba(0,0,0,.5) !important;
                text-transform: uppercase;
                text-align: center;
                transition-duration:0.2s;
                &:hover{
                    color:#000 !important;
                    background-color: transparent !important;
                }
            }
            &.active{
                color:#000 !important;
                background-color: transparent !important;
                border-color: #000 !important;
                a{
                    color:#000 !important;
                    background-color: transparent !important;
                }
            }
        }
    }
    .container{
        width: 100%;
    }
    .navbar-header{
        .navbar-toggle{
            color: rgba(255,255,255,.5);
            border-color: rgba(255,255,255,.5);
            width: 40px;
            height: 40px;
            text-align: center;
            background-color: transparent;
        }
    }
    a.navbar-brand{
        color: rgba(255,255,255,.5);
    }
    li{
        a{
            color: rgba(255,255,255,.8) !important;
            text-transform: uppercase;
            text-align: center;
            transition-duration:0.2s;
            &:hover{
                color:#fff !important;
                background-color: transparent !important;
            }
        }
        &.active{
            color:#fff !important;
            background-color: transparent !important;
            a{
                color:#fff !important;
                background-color: transparent !important;
            }
        }
    }
}
section{
    padding-top: 50px;
}
.skill-div{
    margin:10px auto;
}

#portfolio{
    .projects-list{
        text-align: center;
        i{
            margin: 0 auto;
            float: none;
        }
        .project{
            border: 1px solid #1b1b1b;
            margin: 0px 0px 10px 0px;
        }
    }
}

footer{
    background: #223d54;;
    color: #fff;
    .footer-above{
        padding: 20px 0px;
        a.circle{
            margin: 0 5px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 100%;
            background: #fff;
            display: inline-block;
            i{
                font-size: 25px;
                color: #223d54;
                width: inherit;
                height: inherit;
                line-height: inherit;
            }
            &:hover{
                background: rgba(0, 0, 0, 0.5);;
                i{
                    color: white;
                }
            }
        }
    }
    .footer-below{
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        height: 50px;
        line-height: 50px;

    }
}
